<p id="notice"><%= notice %></p>

<p>
  <strong>Fullname:</strong>
  <%= @teacher.fullname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @teacher.email %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @teacher.photo %>
</p>

<p>
  <strong>Course:</strong>
  <%= @teacher.course %>
</p>

<p>
  <strong>Description:</strong>
  <%= @teacher.description %>
</p>

<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
